@media (max-width: 1100px) {
  .your-quizzes,
  .all-quizzes {
    margin-top: 100px;
    width: 340px;
  }

  .all-quizzes {
    margin: 35px 0;
  }

  .empty p {
    padding: 0 50px;
  }

  .quizz:nth-child(3n - 1) {
    margin-right: 0;
    margin-left: 0;
  }

  .quizz-list {
    min-width: 350px;
  }

  .image:nth-child(2),
  .image:nth-child(5) {
    margin-left: 0;
    margin-right: 0;
  }

  .new-quizz {
    margin-top: 106px;
  }

  .new-quizz .inputs-container,
  .new-quizz button {
    max-width: 100vw;
  }
  .new-quizz button {
    margin-top: 50px;
  }

  .form-quizz3 .inputs-container {
    min-height: 396px;
  }

  .inputs-container textarea {
    min-height: 177px;
  }

  .final-page button {
    margin-top: 30px;
  }

  body {
    max-width: 100vw;
  }


  .quizz-page{
    padding-bottom: 66px;
  }
  
  .title {
    height: 142px;
  }
  
  .title img {
    height: 142px;
  }

  .title h2 {
    font-size: 19px;
  }
  
  .quizz-display {
    width: 375px;
    padding: 18px;
    margin-top: 24px;
  }
  
  .quizz-display img {
    width: 163px;
    height: 113px;
  }
  
  .quizz-display h4 {
    margin-top: 4px;
    font-size: 13px;
    max-width: 164px;
  } 
  
  .question-1,
  .question-2,
  .question-3,
  .result div:first-child {
    width: 100%;
    height: 89px;
  }
    
  
  .answer {
    cursor: pointer;
    margin-top: 9px;
  }
  
  .result div:last-child {
    margin-top: 9px;
    flex-direction: column;
  }
  
  .result div:last-child img {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }
  
  .result div:last-child p {
    width: 340px;
    max-height: 100px;
    margin-top: 9px;
  } 
  
  .result {
    padding: 18px;
  }
  
  .back-home {
      width: 220px;
      font-size: 18px;
      margin-top: 8px;
  }
  
  .restart {  
      width: 220px; 
      height: 44px;
      font-size: 18px;
      font-weight: 400;
      margin-top: 34px;
  }
}
