* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 37px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 39px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 23px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.top {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-quizzes,
.all-quizzes {
  margin-top: 146px;
  width: 1050px;
  height: 181px;
}

.all-quizzes {
  margin: 77px 0;
  height: auto;
}

.your-quizzes span {
  display: flex;
  align-items: center;
}

.empty {
  align-items: center;
  justify-content: center;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  padding: 33px 0;
  display: flex;
  flex-direction: column;
}

.empty p {
  padding: 0 420px;
  text-align: center;
  font-size: 20px;
  color: #b9b9b9;
  line-height: 23.44px;
}

.empty button {
  border: 1px dashed #ec362d;
  border-radius: 50px;
  width: 151px;
  height: 40px;
  color: #ec362d;
  margin-top: 30px;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  cursor: pointer;
}


.quizz{
  width: 340px;
  height: 181px;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.quizz img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.quizz div {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 65.62%,
      rgba(0, 0, 0, 0.8) 100%
    );
  background-repeat: round;
  border-radius: 5px;
  position: absolute;
  width: 340px;
  height: 181px;
  left: 0;
  top: 0;
  z-index: 1;
}

.quizz:nth-child(3n - 1) {
  margin-left: 15px;
  margin-right: 15px;
}

.quizz h5 {
  position: absolute;
  left: 17px;
  bottom: 20px;
  z-index: 2;
}

.home-page ion-icon {
  font-size: 30px;
  margin-left: 17px;
  color: #ec362d;
  cursor: pointer;
}

.quizz-list {
  display: flex;
  min-width: 1052px;
  flex-wrap: wrap;
  justify-content: left;
}

.new-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}

.new-quizz h4 {
  text-align: center;
}

.new-quizz button {
  font-family: "Roboto", sans-serif;
  width: 370px;
  height: 54px;
  background-color: #ec362d;
  border: 0;
  border-radius: 15px;
  font-size: 18px;
  color: #fff5f4;
  margin: 81px 0;
  cursor: pointer;
  margin-top: 50px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #ffffff;
  justify-content: space-evenly;
  margin-top: 29px;
  padding: 12px 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.035);
  position: relative;
}

.form-quizz2 .inputs-container {
  min-height: 900px;
}

.form-quizz .inputs-container {
  height: 256px;
}

.inputs-container input,
.inputs-container textarea {
  font-family: "Roboto", sans-serif;
  width: 564px;
  max-width: calc(100vw - 36px);
  margin: 7px 20px;
  min-height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 19px;
  padding: 0 14px;
}

.inputs-container input::placeholder,
.inputs-container textarea::placeholder {
  color: #bababa;
  font-style: italic;
}

.inputs-container h4 {
  width: 100%;
  text-align: left;
  margin: 25px 0 10px 20px;
}

.form-quizz1,
.form-quizz2,
.form-quizz3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 5000ms linear;
}

.form-quizz3 h4,
.form-quizz2 h4 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}

.form-quizz3 .inputs-container,
.form-quizz2 .inputs-container {
  height: 256px;
  justify-content: space-between;
  margin-top: 0px;
  padding-bottom: 20px;
}

.inputs-container textarea {
  padding-top: 12px;
  max-height: 46px;
  resize: none;
}

.nivel,
.pergunta {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 43px;
  width: 600px;
  max-width: 100vw;
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 0;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.nivel ion-icon,
.pergunta ion-icon {
  color: #000000;
  font-size: 26px;
  position: absolute;
  right: 20px;
}

.form-quizz3,
.form-quizz2 {
  margin-bottom: -20px;
}

.edit {
  font-size: 26px;
  position: absolute;
  right: 17px;
  top: 30px;
  cursor: pointer;
}

.final-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-page p {
  color: #818181;
  font-size: 18px;
  margin-top: -54px;
  cursor: pointer;
}

.final-page button {
  width: 221px;
  max-width: 100vw;
  margin-top: 10px;
}

.quizz-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  padding-bottom: 85px;
}

.title {
  width: 100%;
  height: 227px;
  position: relative;
  margin-top: 69px;
}

.title img {
  width: 100%;
  height: 227px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.title div {
  background-color: rgba(0, 0, 0, 0.6);
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.title h2 {
  z-index: 2;
  position: absolute;
  height: 54px;
  width: 100%;
  text-align: center;
  top: calc(50% - 27px);
  line-height: 54px;
}

.quizz-display {
  width: 759px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  margin-top: 42px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-display img {
  width: 330px;
  height: 175px;
  object-fit: cover;
}

.quizz-display h4 {
  margin-top: 8px;
}

.question-1,
.question-2,
.question-3,
.result div:first-child {
  width: 100%;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-1 {
  background-color: #434ca0;
}

.question-2 {
  background-color: #a0438d;
}

.question-3 {
  background-color: #019432;
}

.question-1 h3,
.question-2 h3,
.question-3 h3,
.result div:first-child h3 {
  color: #ffffff;
}

.answer {
  cursor: pointer;
  margin-top: 18px;
}

.right h4 {
  color: #009c22;
}

.wrong h4 {
  color: #ff4b4b;
}

.wrong {
  opacity: 0.3;
}

.result div:first-child {
  height: 99px;
  background-color: #ec362d;
}

.result div:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.result div:last-child img {
  width: 364px;
  height: 273px;
  object-fit: cover;
  margin-right: 21px;
}

.result div:last-child p {
  width: 328px;
  text-align: left;
  font-weight: 700;
  line-height: 25px;
}

.result {
  padding: 15px;
}

.back-home {
  font-family: "Roboto", sans-serif;
  width: 260px;
  height: 44px;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  color: #818181;
  margin-top: 16px;
  cursor: pointer;
  background-color: #e5e5e5;
}

.restart {
  width: 260px;
  height: 52px;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  background-color: #ec362d;
  border-radius: 15px;
  color: #fff5f4;
  margin-top: 57px;
  cursor: pointer;
}

.escondido {
  display: none;
}

/* testando commit */
