@media (max-width: 1100px) {
  .your-quizzes,
  .all-quizzes {
    margin-top: 100px;
    width: 340px;
  }

  .all-quizzes {
    margin: 35px 0;
  }

  .empty p {
    padding: 0 50px;
  }

  .quizz-list {
    min-width: 350px;
  }

  .image:nth-child(2),
  .image:nth-child(5) {
    margin-left: 0;
    margin-right: 0;
  }

  .new-quizz {
    margin-top: 106px;
  }

  .new-quizz .inputs-container,
  .new-quizz button {
    max-width: 100vw;
  }
  .new-quizz button {
    margin-top: 50px;
  }

  .form-quizz2 .inputs-container {
    min-height: 900px;
  }

  .form-quizz3 .inputs-container {
    min-height: 396px;
  }

  .inputs-container textarea {
    min-height: 177px;
  }
  body {
    max-width: 100vw;
  }
}
